body {
    background-color: #e5f2e5;
    color: #131313;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

h1,
h2,
h3 {
    color: #0ba6d1;
    font-family: "Arial Narrow", Arial, sans-serif;
}

h1 {
    text-transform: uppercase;
}

.bold {
    font-style: italic;
    font-size: .9em;
}

ol {
    list-style-type: square
}

.increase {
    font-weight: bold;
    font-size: 1.3em
}

a {
    text-decoration: none;
}

div {
    background-image: url(favicon.ico.jpeg);
}

#blue {
    background-color: #0ba6d1;
}

.red {
    color: red;
}