body {
    background-color: rgba(241, 249, 248, 1);
    color: #131313;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    box-shadow: 20px 20px 15px #00FA9A;
}

h1,
h2,
h3 {
    color: #0ba6d1;
    font-family: "Arial Narrow", Arial, sans-serif;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: 60px;
    margin-left: 60px;
}

#link a {
    font-weight: bold;
    font-size: 1.3em;
    text-decoration: none;
}

h1 {
    text-transform: uppercase;
    text-shadow: 2px 2px #FF0000;
}

.italicize {
    font-style: italic;
    font-size: .9em;
}

ol {
    list-style-type: square;
}

#takedown {
    background-image: url(images/takedown.jpg);
    background-position: right;
    background-repeat: no-repeat;
}

.red {
    color: red;
}

main {
    width: 80%;
    margin: 100px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

#Content {
    background-color: rgba(125, 252, 225, 1);
    opacity: 0.9;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
}

#eyes {
    width: 100%;
    position: fixed;
    position: absolute
}

#headkick {
    float: right;
    margin: 22px 22px 5px 5px;
    border: 1px solid #000000;
}